<div id="main">

  <br/>
  <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to Bucket List"), 
    account_abuckets_path(@account) %>&nbsp

  <div class="body">
    
    <h3>Account: <span class="head1"><%=h @account.name %></span><br/>
      &nbsp Bucket: <span class="head2"><%=h @abucket.name %></span></h3>
    <h2>Transaction Detail Report</h2>

    <div>
      <table class="list" border="1" cellpadding="3">
        <tr class="header" style="vertical-align:bottom">
          <th class="date">Date</th>
          <th class="type">#</th>
          <th class="name">Description</th>
          <th class="currency">Withdrawal</th>
          <th class="currency">Deposit</th>
          <th class="icon"><img src="/images/check_head.png" width="15" height="15"></th>
          <th class="currency">Balance</th>
        </tr>
        <%= render :partial => 'transaction', :collection => @account.transactions.find(:all) %>
      </table>
    </div>

  </div>

</div>